@media screen and (min-width: 576px) and (max-width: 1024px) {
  .header {
    padding: 0.75rem 0.25rem;
  }
  .header-title {
    display: inline-block;
    width: 180px;
    margin-right: 10px;
  }
  .header-title strong {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #656c79;
    vertical-align: middle;
  }
  .search-area {
    margin-top: 0px;
  }
  .search-title {
    display: none;
  }
  .search-form {
    margin-left: 10px;
  }
  .search-form-area-datepicker,
  .search-form-area-search {
    margin-top: 10px;
  }
  .filter-box {
    padding: 0px 20px;
    background-color: #000000;
    z-index: 0;
  }
  .filter-box-row {
    margin: 10px 0px;
  }
  .filter-box-label {
    display: block;
    width: 100%;
  }
  .filter-box-label span {
    font-size: 15px;
    letter-spacing: 0.8px;
  }
  .filter-box-actions,
  .filter-box-symbols,
  .filter-box-etc {
    display: block;
  }
  .filter-box-actions {
    margin-top: 5px;
  }
  .button-action {
    padding: 3px 18px !important;
  }
  .btn-advanced {
    font-size: 13px;
  }
  .btn-advanced:after {
    width: 87px;
    margin-top: 2px;
  }
  .button-action {
    padding: 1px 15px !important;
    font-size: 12px;
  }
  .table-tx td {
    font-size: 14px;
  }
  button[class*='type-action'] {
    margin: 0px;
  }
}