html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1;
}

#__nuxt, #__layout {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar.navbar-light .navbar-toggler {
  display: none;
}

.search-input {
  border-radius: 1rem !important;
  padding: 0.275rem 2.5rem 0.275rem 1.25rem !important
}

.search-input::placeholder,
.search-input::-webkit-input-placeholder {
  color: #ced4da !important;
  opacity: 1 !important;
}

i.search-icon {
  position: absolute;
  right: 0;
  padding-right: 2rem;
  cursor: pointer;
}

span.transfer-arrow:after {
  content:'→';
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7f8fa4;
}

img.left-arrow, 
img.right-arrow {
  width: 9px;
  height: 14px;
  object-fit: contain;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #191b20;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-image: linear-gradient(to left, #1991eb, #2ea1f8);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #191b20;
}